/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

main h2 {
    font-size: 3rem;
    text-align: center;
    
grid {
    display: grid;
    grid-auto-columns: 400px 400px;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
}

 
